ul {
    list-style-type: none;
    padding: 0px;
}
li{
    padding: 10px;
}
input{
    position: absolute;
    left: 150px;
}
form input{
    margin-right: 30px;
}
div#wrapper{
    width: 60%;
}
div#2{
    width: 35%;
}
g
