ul {
    list-style-type: none;
    padding: 0;
}
li{
    padding: 10px;
}
li input{
    position: absolute;
    left: 150px;
}
div#wrapper{
    width: 50%;
    float: left;
}
form{
    padding-top: inherit;
}
form input{
    left: 0;
    position: relative;
}
div#twee{
    margin-top: 10px;
    padding-right: 495px
}
H3{
    padding: 43px;
}
div#knop{
    clear: left;
   float: right;
    padding-top: 65px;
    padding-right: 490px
}

